.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #8149c5;
    padding: 0px 150px;
}
.header-container a{
    margin-left: 30px;
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.header-container a:hover{
    color: #cca4fd;
}
@media screen and (max-width: 600px){
    .header-container{
      display: flex;
      flex-direction: column;
    }
    }
.header-img{
    width: 45px;
    height: 50px;

}
.header-text{
    font-size: 30px;
    color: white;
}
.header-text:hover{
    cursor: pointer;
}
.first-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}